
.alert {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 30vh;
    border: 2px solid mediumslateblue;
    border-radius: 12px;
    background-color: rgba(27, 19, 75, 0.671);
    font-size: 50px;
    color: aliceblue;
}
.alert-message label{
    font-size: 20px;

}
.alert-message button {
    color: aliceblue;
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    background-color: rgb(66, 12, 116);
}
.alert-message button:hover {
    cursor: pointer;
    background-color: rgb(45, 7, 80);
}