@media screen and (max-width: 768px) {
    body {
        /* background-image: url("./img/carpet.png"); */
        align-items: center;
    }
    .back{
        width: 110%;
        height: 110%;
    }
    .maybdedling-stat {
        width: 80vw;
    }
    .progress{
        margin-right: 5px;
    }
    .container {
        width: 100vw;
        height: 80vh;
    }
    .maybdedling-nest {
        width: 80vw;
        height: 70vh;
    }
    .maybdedling-nest .carpet {
        bottom: 9vh;
        width: 80vw;
        position: absolute;
        transition: none;
        z-index: 1;
    }
    .maybdedling-nest .arrow {
        left: -1vw;
        bottom: 15vh;
        width: 50px;
    }
    .maybdedling-nest .maybded {
        width: 200px;
        height: 200px;
    }
    .controls {
        position: relative;
        bottom: 5vh;
    }
    .controls button {
        color: rgb(29, 114, 86);
        width: 30vw;
    }
    .controls button:hover {
        background-color: rgb(203, 203, 241);
    }
    
    .alert-message {
        width: 80vw;
        height: 60vh;
        justify-content: space-around;
        font-size: 10vw;
    }
    .alert-message button {
        width: 30vw;
        height: 15vw;
    }
    .alert-message button:hover {
        background-color: rgb(66, 12, 116);
    }
    .alert-message button:active {
        background-color: rgb(45, 7, 80);
    }
    .menu-contain {
        position: fixed;
        z-index: 99;
        bottom: 1vw;
        right: 1vw;
    }
    .menu-contain .info {
        width: 8vw;
        height: 8vw;
    }
    .menu-contain .info:hover {
        filter: brightness(100%);
    }
    .menu-contain .info:active {
        filter: brightness(70%);
    }
}